*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilray;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
}

#container{
    height: 400px;
    width: 290px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#container img{
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}

#container i{
    font-size: 75px;
    /* border: none; */
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.7;
    transition: all ease 0.4s;
}