*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilray;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    
}

.ele{
    height: 145px;
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: flex-start;
    /* justify-items: center; */
    align-items: center;
    position: relative;
    
}
.ele h1{
    font-weight: 900;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}

.ele img{
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: all linear 0.2s;
}